<template>
  <div class="footer-bar">
    <div class="footer-bar__element">
      <router-link to="/legal">
        {{ $t('footer.legal') }}
      </router-link>
    </div>
    <div class="footer-bar__icons">
      <a
        href="https://www.instagram.com/galeriefahrenheit"
        target="_blank"
      >
        <div
          alt="instagram icon"
          class="icon icon--instagram"
        />
      </a>
    </div>
  </div>
</template>
<style lang="scss">
  .footer-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--footer-background-color);
    height: var(--footer-height);
    box-shadow: 0px -6px 5px 0px rgba(0,0,0,0.05);

    &__element {
      width: 100%;
      text-align: left;
      margin-left: 3.4em;
    }

    &__icons {
      margin-right: 4.4em;
      cursor: pointer;
    }

    a {
      font-size: 1em;
      color: black;
    }
  }
</style>
<script>
export default {
  name: 'FooterBar',
  data() {
    return {};
  },
};
</script>
