<template>
  <div
    class="header-bar"
    :class="black && 'black'"
  >
    <div
      class="logo"
      @click="$router.push({ path: '/' })"
    >
      Galerie Fahrenheit
    </div>

    <nav
      class="menu"
      role="navigation"
    >
      <ul
        v-for="menu in menuList"
        :key="menu.uri"
        class="menu__category"
      >
        <li
          v-if="!menu.links"
          class="menu__link"
        >
          <router-link :to="menu.uri">
            {{ $t(`menu.${menu.label}`) }}
          </router-link>
        </li>
      </ul>
    </nav>
    <div class="mobile-menu-toggler">
      <input
        id="burger"
        v-model="showMenu"
        type="checkbox"
      >

      <label for="burger">
        <span />
        <span />
        <span />
      </label>
    </div>
    <portal to="menu">
      <transition name="slide-top">
        <nav
          v-if="showMenu"
          class="mobile-menu"
          role="navigation"
        >
          <ul
            v-for="menu in menuList"
            :key="menu.label"
            class="menu__category"
          >
            <li
              v-if="!menu.links"
              class="menu__link"
            >
              <router-link :to="menu.uri">
                {{ $t(`menu.${menu.label}`) }}
              </router-link>
            </li>
            <template v-else>
              <label
                v-if="menu.label !== 'collection'"
                :class="{
                  'router-link-active': $route.path.includes('collection')
                    && menu.label === 'collection'}"
              >{{ $t(`menu.${menu.label}`) }}</label>
              <ul class="menu__link-container">
                <li
                  v-for="link in menu.links"
                  :key="link.uri"
                  class="menu__link"
                >
                  <router-link :to="link.uri">
                    {{ $t(`menu.${link.label}`) }}
                  </router-link>
                </li>
              </ul>
            </template>
          </ul>
          <div class="mobile-languages">
            <span
              :class="{'router-link-active': $i18n.locale === 'fr'}"
              @click="setLocal('fr')"
            >fr</span>
            <span>|</span>
            <span
              :class="{'router-link-active': $i18n.locale === 'en'}"
              @click="setLocal('en')"
            >en</span>
          </div>
        </nav>
      </transition>
    </portal>
    <div class="languages">
      <span
        :class="{'router-link-active': $i18n.locale === 'fr'}"
        @click="setLocal('fr')"
      >fr</span>
      <span>|</span>
      <span
        :class="{'router-link-active': $i18n.locale === 'en'}"
        @click="setLocal('en')"
      >en</span>
    </div>
  </div>
</template>
<style lang="scss">
  @import '../../assets/styles/variables.scss';
  .logo {
    font-family: 'Gruppo', Arial, sans;
    font-size: 3em;
    cursor: pointer;
    margin-left: 1.4em;
    margin-bottom: 0.2em;
  }

  .header-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    top: 0;
    left: 0;
    z-index: 10;
    background-color: transparent;
    color: white;

    &.black {
      color: black;
      background-color: white;
      box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.05);

      .menu {
        color: black;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: auto;
    margin-right: 1.5em;
    font-size: 1.4em;
    color: white;
    @media only screen and (max-width: $mobile-max-break) {
      display: none;
    }
  }

  .menu a {
    text-decoration: none;
    color: inherit;
    line-height: 10px;
    text-transform: capitalize;
  }

  .menu label {
    text-transform: capitalize;
    color: inherit;
    cursor: pointer;
  }

  .menu ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  .menu__category {
    margin-left: 1.6em;
    cursor: pointer;
    @media only screen and (max-width: $mobile-max-break) {
      margin-left: 0em;
      margin-top: 0.6em;
    }
  }

  .menu__link-container {
    position: absolute;
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    transform: scaleX(0.001);
    transition: transform 0.125s 0s ease-out;
    transform-origin: left center;
    visibility: hidden;

    a {
      color: black;
    }
    @media only screen and (max-width: $mobile-max-break) {
      display: block;
      position: static;
      padding: 0;
      box-shadow: initial;
      background-color: transparent;
      text-align: center;
    }
  }

  .menu__link {
    @media only screen and (max-width: $mobile-max-break) {
      margin-top: 0.6em;
    }
  }

  .menu__link-container .menu__link {
    cursor: pointer;
    margin-top: 0.6em;
    margin-left: 0.6em;
    @media only screen and (max-width: $mobile-max-break) {
      margin-left: 0em;
    }
  }

  .menu__link:hover {
    color: lightgrey;
  }

  .menu__category:hover .menu__link-container {
    visibility: visible;
    transform: scaleX(1);
  }

  .router-link-active {
    color: lightgrey !important;
    font-weight: 700;
  }

  .languages {
    margin-right: 4.4em;
    margin-left: 4.4em;
    cursor: pointer;
    @media only screen and (max-width: $mobile-max-break) {
      display: none;
    }
  }

  .mobile-languages {
    display: none;
    margin-right: 4.4em;
    margin-left: 4.4em;
    margin-top: 1.6em;
    cursor: pointer;
    @media only screen and (max-width: $mobile-max-break) {
      display: inline-block;
    }
  }

  .mobile-menu {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    left: 0;
    top: 0;
    font-size: 1.4em;
    transform: translateY(0);
    z-index: 9;

    .menu__link a {
      color: black !important;
    }

    .menu__link-container {
      visibility: visible;
      transform: scaleX(1);
    }

    @media only screen and (max-width: $mobile-max-break) {
      display: flex;
    }
  }

  .slide-top-enter-active, .slide-top-leave-active {
    transition: transform .5s;
  }
  .slide-top-enter, .slide-top-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: translateY(-100%);
  }

  .mobile-menu-toggler {
    display: none;
    @media only screen and (max-width: $mobile-max-break) {
      display: block;
    }
    input[type="checkbox"] {
      position: absolute;
      visibility: hidden;
    }
    input + label {
      position: fixed;
      top: 16px;
      right: 2.4em;
      height: 20px;
      width: 15px;
      z-index: 5;
      cursor: pointer;
      span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: black;
        transition: .5s;
      }
      span:first-child {
        top: 3px;
      }
      span:last-child {
        top: 16px;
      }
    }
    label:hover {
      cursor: pointer;
    }
    input:checked + label {
      span {
        opacity: 0;
        top: 50%;
      }
      span:first-child {
        opacity: 1;
        transform: rotate(405deg);
      }
      span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
      }
    }
  }
</style>
<script>
export default {
  name: 'HeaderBar',
  props: {
    black: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showMenu: false,
      menuList: [
        {
          label: 'la galerie',
          uri: '/galerie',
        },
        {
          label: 'collection',
          uri: '/collection',
        },
        {
          label: 'createurs',
          uri: '/createurs',
        },
      ],
    };
  },
  beforeRouteLeave(to, from, next) {
    this.showMenu = false;
    next();
  },
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu;
    },
    setLocal(lang) {
      this.$i18n.locale = lang;
    },
  },
};
</script>
