.icon {
  width: 35px;
  height: 35px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &--instagram {
    background-image: url('../images/instagram.png');
  }

  &--error {
    background-image: url('../images/error-icon-25242.png');
  }
}
