@import '../../assets/styles/variables.scss';
@import './icons.scss';

:root {
  --header-height: 50px;
  --footer-height: 70px;
  --footer-background-color: white;
  @media only screen and (max-width: $mobile-max-break) {
    --footer-height: 60px;
  }
}

@font-face {
   font-family: 'Gruppo';
   src: url('./font/Gruppo-Regular.ttf');
}

:root {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 62.5%; // 1em = 10px
 }

a {
  text-decoration: none;
  color: initial;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.page-transition-enter-active, .page-transition-leave-active {
  transition: opacity 0.5s;
}
.page-transition-enter, .page-transition-leave-to {
  position: absolute;
  margin: 0 !important;
  opacity: 0;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  &--fd-column {
    flex-direction: column;
  }

  &--jc-sa {
    justify-content: space-around;
  }

  &--jc-sb {
    justify-content: space-between;
  }
}

input, textarea {
  width: calc(100% - 16px);
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.4em;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 4px;
  padding: 0 8px;
  resize: none;
}

textarea {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.input-button {
  color: white;
  outline: none;
  border: none;
  padding: 1.4em 2em;
  line-height: 0em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s; 

  &[disabled] {
    background-color: lightgrey;
    &:hover {
      background-color: lightgrey;
    }
  }

  &--green {
    background-color: #51bc68;
    &:hover {
      background-color: #45a058;
    }
  }

  &--red {
    background-color: #d63230;
    &:hover {
      background-color: #91211f;
    }
  }

}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.4em;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    padding: 1em 2em;
    align-items: center;
    border-radius: 4px;
}

.inputfile {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}

.VueCarousel-wrapper {
  height: 100vh;
}

.slider {
  position: relative;
  width: 350px;
  height: 250px;
}

.slider--fullscreen {
  width: 100vw;
  height: 100vh;
  @media only screen and (max-width: $mobile-max-break) {
    height: calc(100vh - var(--header-height) - var(--footer-height));
  }
}

.slider__slide {
  min-height: 100vh;
  @media only screen and (max-width: $mobile-max-break) {
    min-height: 100vh;
  }
  div {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    @media only screen and (max-width: $mobile-max-break) {
      min-height: 100vh;
      background-size: contain !important;
    }
  }
}

.page {
  min-height: 100vh;
  min-width: 100vw;
  @media only screen and (max-width: $mobile-max-break) {
    min-height: calc(100vh - calc(var(--header-height) - var(--footer-height)));
  }

  &__no-assets {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4em;
    text-align: center;
  }
}

.galerie-grid {
  max-width: 890px;
  margin: 0 auto;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 5em;

    @media only screen and (max-width: $tablette-max-break) {
      justify-content: center;
    }

    &__element {
      margin: 2.1em;
      cursor: pointer;
      div {
        width: 400px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &.error {
          background-size: 40%;
        }
      }
    }
  }
}
