<template>
  <div class="admin-page page">
    <ul class="admin-page__products-list">
      <li
        v-for="(product) in products"
        :key="product.id"
        class="products-list__product"
      >
        <h3>{{ product.name }}</h3>
        <form
          class="product-form"
          @submit.prevent.stop
        >
          <div class="product-image-container__admin-wrapper">
            <div
              :style="{
                'background-image': `url(${getWebUri(product.getDisplayedImage(), product)})`,
              }"
              class="product-image admin-page__product-list__product-image"
            />
            <div class="product-image__authors-container">
              <em
                v-for="author in product.authors"
                :key="`${product.id}-${author}`"
                class="product-image__authors"
              >{{ getAuthor(author).name }}</em>
            </div>
          </div>
          <div class="flex-wrapper input-wrapper">
            <div class="flex-wrapper">
              <input
                type="checkbox"
                :checked="isHomePage(product.id)"
                @change="e => updateHomepageProducts(product.id)"
              >
              <label>Homepage</label>
            </div>
            <button
              class="input-button input-button--red"
              @click="sendDelete(product.id)"
            >
              <span>Delete</span>
            </button>
          </div>
        </form>
      </li>
    </ul>

    <button
      class="save-homepage input-button input-button--green"
      :disabled="saveButtonState"
      @click="saveHomepageProducts"
    >
      <span>Save</span>
    </button>
    <button
      class="add-product"
      @click="showModal"
    >
      <span class="lnr lnr-plus-circle" />
    </button>

    <modal
      name="product-modal"
      :width="modalWidth"
      :height="modalHeight"
      class="product-modal"
    >
      <form
        v-if="productInput"
        class="new-product-form"
        enctype="multipart/form-data"
        @submit.prevent="sendForm(productInput)"
      >
        <div class="flex-wrapper flex-wrapper--jc-sb">
          <input
            v-model="productInput.name"
            type="text"
          >
          <multiselect
            v-model="productInput.family"
            :options="possibleFamilies"
            placeholder="Select a product type"
            :allow-empty="false"
          />
        </div>
        <div class="flex-wrapper flex-wrapper--jc-sb">
          <textarea v-model="productInput.description.fr" />
          <textarea v-model="productInput.description.en" />
        </div>
        <div class="flex-wrapper flex-wrapper--jc-sb">
          <multiselect
            v-model="productInput.authors"
            :options="authors"
            :multiple="true"
            :close-on-select="false"
            :preserve-search="true"
            label="name"
            track-by="id"
            :allow-empty="false"
            placeholder="Select authors"
            :limit="2"
          />

          <input
            id="file-1"
            ref="imageUpload"
            type="file"
            name="file-1[]"
            class="inputfile inputfile-1"
            data-multiple-caption="{count} files selected"
            accept="image/png, image/jpeg"
            multiple
            @change="updateDisplay"
          >
          <label for="file-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="17"
              viewBox="0 0 20 17"
            >
              <path
                d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /> <!-- eslint-disable-line -->
            </svg>
            <span>Choose files&hellip;</span>
          </label>
        </div>

        <input
          class="input-button input-button--green"
          type="submit"
          value="ok"
          :disabled="loading"
        >
        <p v-if="uploadError">
          {{ uploadError.message }}
        </p>
      </form>
    </modal>
  </div>
</template>
<style lang="scss">
  @import '../assets/styles/variables.scss';
  .admin-page {
    position: relative;
    &__products-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      @media only screen and (min-width: $tablette-max-break) {
        padding-top: 8em;
      }
      @media only screen and (max-width: $tablette-max-break) {
        justify-content: center;
        padding-bottom: 3em;
      }
    }
  }

  .product-modal .v--modal {
    overflow: visible !important;
  }

  .save-homepage {
    position: fixed;
    right: 12em;
    bottom: 4.7em;
  }

  .add-product {
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    position: fixed;
    right: 4em;
    bottom: 4em;
    cursor: pointer;
    &:hover {
      color: grey;
    }
    span {
      font-size: 4.4em;
    }
  }

  .products-list {
    &__product {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      margin-left: 4em;
      @media only screen and (max-width: $mobile-max-break) {
        margin-top: 4em;
        margin-left: 0em;
      }

      .flex-wrapper {
        input[type="checkbox"] {
          width: auto;
        }
      }
    }
  }

  .product-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    @media only screen and (max-width: $mobile-max-break) {
      flex-direction: column;
    }
  }

  .new-product-form {
    display: flex;
    height: calc(100% - 4em);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em 4em;
    overflow-y: visible;

    @media only screen and (max-width: $mobile-max-break) {
      overflow-y: auto;
      justify-content: flex-start;
      padding: 1em 4em;
      > input[type="submit"] {
        margin-top: 2em;
      }
    }

    .flex-wrapper {
      width: 100%;

      textarea {
        min-height: 250px;
      }

      > input:not([type="submit"]), textarea {
        width: calc(50% - 16px); // - padding
        margin: 0 1em;
      }

      .inputfile + label {
        width: 40%;
        margin: 0 1em;
      }

      .multiselect {
        width: 50%;
        margin: 0 1em;
      }


      @media only screen and (max-width: $mobile-max-break) {
        flex-direction: column;

        > input:not([type="submit"]), textarea {
          width: calc(100% - 16px); // - padding
          margin: 1em 0em;
        }

        .inputfile + label {
          width: calc(100% - 4em); // - padding
          margin: 1em 0em;
        }
        .multiselect {
          width: 100%;
          margin: 1em 0em;
        }
      }
    }
  }

  .product-image-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &:not(:first-child) {
      margin-left: 4em;
    }

    @media only screen and (max-width: $mobile-max-break) {
      flex-direction: column;
      &:not(:first-child) {
        margin-left: 0em;
        margin-top: 2em;
      }
    }
  }

  .flex-wrapper.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;

    input {
      margin-right: 0.8em;
    }

    @media only screen and (max-width: $mobile-max-break) {
      margin-top: 1.5em;
    }
  }

  .product-image-container__admin-wrapper {
    width: 150px;
    font-size: 1.6em;

    @media only screen and (max-width: $mobile-max-break) {
      width: 300px;
    }
  }

  .product-image {
    width: 150px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @media only screen and (max-width: $mobile-max-break) {
      width: 300px;
      height: 200px;
    }
  }

  .product-image__authors {
    text-align: right;
    font-size: 0.8em;
    padding-top: 0.4em;
  }

  .product-image__authors-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 0.4em;
  }
</style>
<script>
import Multiselect from 'vue-multiselect';
import productsMixin, { editProduct, dataHandling } from '../mixins/products';
import { DataService } from '../resources';
import { GitlabClient } from '../lib/gitlab';

const dataService = new DataService();

export default {
  name: 'AdminPage',
  components: {
    Multiselect,
  },
  mixins: [
    editProduct(),
    productsMixin(),
    dataHandling(),
  ],
  data() {
    return {
      possibleFamilies: [
        'assise',
        'objet',
        'luminaire',
        'mobilier',
      ],
      productInput: null,
      uploadError: null,
      deleteError: null,
      loading: false,
      homepageProducts: dataService.getHomePage().products,
      dataService,
    };
  },
  computed: {
    modalWidth() {
      return window.innerWidth < 400 ? '80%' : '650px';
    },
    modalHeight() {
      return '550px';
    },
    saveButtonState() {
      return JSON.stringify(this.homepageProducts) === JSON.stringify(this.realHomepageProducts);
    },
    realHomepageProducts: {
      get() {
        return dataService.getHomePage().products;
      },
      set() {
        return dataService.getHomePage().products;
      },
    },
  },
  methods: {
    showModal() {
      this.productInput = this.defaultProductInput();
      this.$modal.show('product-modal');
    },
    async sendDelete(id) {
      this.loading = true;
      try {
        await this.dataService.deleteProduct({ id });
        await this.refreshDatabase();
      } catch (e) {
        this.deleteError = e;
      }
      this.loading = false;
    },
    async sendForm() {
      this.loading = true;
      try {
        await this.loadImagesToProductInput(this.$refs.imageUpload.files, this.productInput);
        await this.updateProduct(this.productInput);

        this.$modal.hide('product-modal');
        this.productInput = null;
        await this.refreshDatabase();
      } catch (e) {
        this.uploadError = e;
      }
      this.loading = false;
    },
    updateDisplay(e) {
      const input = e.target;
      const label = input.nextElementSibling;
      const labelVal = label.innerHTML;
      let fileName = '';
      if (input.files && input.files.length > 1) {
        fileName = (input.getAttribute('data-multiple-caption') || '')
          .replace('{count}', input.files.length);
      } else {
        fileName = e.target.value.split('\\').pop();
      }

      if (fileName) {
        label.querySelector('span').innerHTML = fileName;
      } else {
        label.innerHTML = labelVal;
      }
    },
    isHomePage(productId) {
      return this.dataService.getHomePage().products
        .filter((p) => p && p.id === productId).length === 1;
    },
    updateHomepageProducts(productId) {
      // updateHomepageProducts is called to reverse product "homepage" status
      if (this.isHomePage(productId)) {
        this.dataService.removeProductToHomePage(productId);
      } else {
        this.dataService.addProductToHomePage(productId);
      }
      // to get the button state dynamically
      this.realHomepageProducts = this.dataService.getHomePage().products;
    },
    async saveHomepageProducts() {
      this.loading = true;
      try {
        await this.dataService.saveSiteState('Update homepage.');
        await this.refreshDatabase();
        // to get the button state dynamically
        this.realHomepageProducts = this.dataService.getHomePage().products;
      } catch (e) {
        this.saveError = e;
      }
      this.loading = false;
    },
    async setDataClient(client) {
      try {
        this.dataService.dataClient = client;
        await this.refreshDatabase();
      } catch (e) {
        alert(e);  // eslint-disable-line
        this.$router.push('/');
      }
    },
  },
  beforeRouteEnter(to, from, next) {
    const token = window.prompt('Gitlab token please:');  // eslint-disable-line

    if (token !== null && token.trim() !== '') {
      next((vm) => vm.setDataClient(new GitlabClient({
        projectId: '14941087',
        apiToken: token,
        commitBranch: 'master',
        apiBaseUri: 'https://gitlab.com/api/v4/projects/',
        databaseUri: dataService.dbPath,
        // TODO : relative data.json path should be transmitted as parameter to client methods
      })));
    } else {
      alert('You are not authorized to enter the admin page');  // eslint-disable-line
      next('/');
    }
  },
};
</script>
