<template>
  <div class="archives-page page">
    Archive
  </div>
</template>
<style>
</style>
<script>
import check from 'micro-check.js';

export default {
  name: 'ArchivesPage',
  data() {
    return {};
  },
  mounted() {
    check.check('16', String);
  },
};
</script>
