<template>
  <div class="collection-page page">
    <div class="galerie-grid">
      <ul
        v-if="products.length > 0"
        class="galerie-grid__container"
      >
        <li
          v-for="product in products"
          :key="product.id"
          class="galerie-grid__container__element"
          @click="() => $router.push({ path: `/produits/${product.id}` })"
        >
          <lazy-background
            :alt="product.name"
            :image-source="getWebUri(product.getDisplayedImage(), product)"
            loading-image="/assets/images/loader.gif"
            error-image="/assets/images/error-icon-25242.png"
          />
        </li>
      </ul>
      <p
        v-else
        class="page__no-assets"
      >
        {{ $t('page.noAssets') }}
      </p>
    </div>
  </div>
</template>
<style>
  .collection-page {
    margin-top: var(--header-height);
  }
</style>
<script>
import VueLazyBackgroundImage from 'vue-lazy-background-images/VueLazyBackgroundImage.vue';
import { dataHandling } from '../mixins/products';
import dataService from '../resources';

export default {
  name: 'CollectionPage',
  components: {
    'lazy-background': VueLazyBackgroundImage,
  },
  mixins: [
    dataHandling(),
  ],
  data() {
    return {
      dataService,
    };
  },
  computed: {
    products() {
      return this.dataService.getProducts();
    },
  },
};
</script>
