<template>
  <div class="createurs-page page">
    <ul class="authors-list">
      <li
        v-for="author in authors"
        :key="author"
        class="author"
      >
        {{ author }}
      </li>
    </ul>
  </div>
</template>
<style lang="scss">
@import '../assets/styles/variables.scss';
.createurs-page {
  display: flex;
  align-items: center;

  @media only screen and (min-width: $mobile-max-break + 1) {
    min-height: 0 !important;
    height: calc(100vh - calc(var(--footer-height)));
  }

  @media only screen and (max-width: $mobile-max-break) {
    margin-top: var(--header-height) !important;
  }

  .authors-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 2em auto;

    font-size: 1.55em;
    line-height: 2.2em;

    @media only screen and (min-width: $mobile-max-break + 1) and (max-height: 700px) {
      font-size: 1.45em;
      padding-top: var(--header-height);
    }

    .author {
      margin-left: 0.6em;
      margin-right: 0.6em;
    }
  }

}
</style>
<script>
import dataService from '../resources';

export default {
  name: 'CreateursPage',
  data() {
    return {};
  },
  computed: {
    authors() {
      return dataService.getAuthors().map((a) => a.name).sort();
    },
  },
  mounted() {
  },
};
</script>
