<template>
  <div class="error-404-page page">
    <div class="flex-wrapper">
      <div class="icon icon--error" />
      <h3>{{ $t('Error404Page.title') }}</h3>
      <p>
        {{ $t('Error404Page.p') }} <router-link to="/">
          {{ $t('Error404Page.link') }}
        </router-link>
      </p>
    </div>
  </div>
</template>
<style lang="scss">
  .error-404-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
    justify-content: center;

    .flex-wrapper {
      flex-direction: column;
    }

    .icon--error {
      width: 92px;
      height: 92px;
    }
  }
</style>
<script>
export default {
  name: 'Error404Page',
  data() {
    return {};
  },
};
</script>
