<template>
  <div class="page galerie-page ">
    <div class="background" />
    <div class="flex-wrapper">
      <p>{{ $t('GaleriePage.p1') }}</p>

      <p>{{ $t('GaleriePage.p2') }}</p>

      <p>{{ $t('GaleriePage.p3') }}</p>

      <br>

      <div class="flex-wrapper contact">
        <div>
          <h2>{{ $t('ContactPage.title1') }}</h2>
          <p>
            <strong>Thomas VERRIER</strong>
            <br>
            +33 06 21 77 95 08
            <br>
            <a
              class="contact"
              href="mailto:galerie.fahrenheit@gmail.com"
            >galerie.fahrenheit@gmail.com</a>
          </p>
        </div>
        <div>
          <h2>Showroom</h2>
          <p>
            3 Square Petrelle<br>
            75009 PARIS
            <br>
            FRANCE
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
@import '../assets/styles/variables.scss';
.galerie-page {
  position: relative;
  display: flex;
  position: relative;
  box-shadow: inset 0px 0px 105px 45px rgba(0,0,0,0.1);
  overflow: hidden;

  @media only screen and (max-width: $mobile-max-break) {
    margin-top: var(--header-height) !important;
  }

  a.unsplash {
    position: absolute;
    right: 4em;
    bottom: 2em;
  }
  a.contact {
    font-weight: bold;
    transition: color 0.3s;
    &:hover {
      color: lightgrey;
    }
  }
  .background {
    position: absolute;
    width: 105%;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/images/galerie.jpg);
    /* filter: grayscale(50%) blur(2px); */
    z-index: -1;

    @media only screen and (max-width: 475px) {
      background-size: contain 150%;
      background-position: 50% 100px;
    }

    @media only screen and (min-width: $mobile-max-break + 1) and (max-height: 800px) {
      background-position: center -40px;
    }
  }
  .contact {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;

    @media only screen and (max-width: 475px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  > .flex-wrapper {
    width: 35%;
    height: auto;
    min-width: 800px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.6em;
    margin-top: 10em;
    margin-bottom: auto;
    margin-left: 0.75em;
    padding: 1.5em 2em;
    /* background-color: rgba(0, 0, 0, 0.1); */

    @media only screen and (min-width: $mobile-max-break + 1) and (max-height: 800px) {
      margin-top: 3.7em;
    }

    @media only screen and (max-width: $tablette-max-break) {
      min-width: initial;
      margin-top: 2em;
      margin-left: 0;
      width: 85%;
      padding-bottom: 4.4em;
    }
  }
}
</style>
<script>
export default {
  name: 'GaleriePage',
  data() {
    return {};
  },
  mounted() {
  },
};
</script>
