<template>
  <div class="homepage page">
    <carousel
      class="slider slider--fullscreen"
      :autoplay="true"
      :per-page="1"
      :pagination-enabled="false"
      :loop="true"
      :autoplay-timeout="3250"
    >
      <slide
        v-for="(product, index) in products"
        :key="index"
        class="slider__slide"
      >
        <lazy-background
          :alt="product.name"
          :image-source="getWebUri(product.getDisplayedImage(), product)"
          loading-image="/assets/images/loader.gif"
          error-image="/assets/images/error-icon-25242.png"
        />
      </slide>
    </carousel>
  </div>
</template>
<style lang="scss">
@import '../assets/styles/variables.scss';
.homepage {
  width: 100%;
  overflow-x: hidden;

  @media only screen and (max-width: $mobile-max-break) {
    min-height: calc(100vh - calc(var(--header-height) + 12px)) !important;
  }
}
</style>
<script>
import { Carousel, Slide } from 'vue-carousel';
import VueLazyBackgroundImage from 'vue-lazy-background-images/VueLazyBackgroundImage.vue';
import { dataHandling } from '../mixins/products';
import dataService from '../resources';

export default {
  name: 'HomePage',
  components: {
    Carousel,
    Slide,
    'lazy-background': VueLazyBackgroundImage,
  },
  mixins: [
    dataHandling(),
  ],
  data() {
    return {
      langs: ['fr', 'en'],
      dataService,
    };
  },
  computed: {
    products() {
      return dataService.getHomePage().products.reverse();
    },
  },
  mounted() {},
  methods: {},
};
</script>
