<template>
  <div class="page legal-page">
    <h2>{{ $t('LegalPage.title') }}</h2>

    <p>{{ $t('LegalPage.p1') }}</p>

    <h3>{{ $t('LegalPage.title2') }}</h3>

    <p>{{ $t('LegalPage.p2') }}</p>

    <p>{{ $t('LegalPage.p3') }}</p>
    <ul>
      <li>
        <strong>{{ $t('LegalPage.persons.element1_title') }}</strong>
        <br>
        {{ $t('LegalPage.persons.element1_value') }}
      </li>
      <li>
        <strong>{{ $t('LegalPage.persons.element2_title') }}</strong>
        <br>
        {{ $t('LegalPage.persons.element2_value') }}
      </li>
      <li>
        <strong>{{ $t('LegalPage.persons.element3_title') }}</strong>
        <br>
        <a
          href="https://about.gitlab.com/terms/"
          target="-blank"
        >{{ $t('LegalPage.persons.element3_gitlab') }}</a> – through <a
          href="https://cloud.google.com/terms/"
          target="_blank"
        >Google Cloud Platform</a>
      </li>
    </ul>

    <h3>{{ $t('LegalPage.title3') }}</h3>

    <p>{{ $t('LegalPage.p4') }}</p>

    <h3>{{ $t('LegalPage.title4') }}</h3>

    <p>{{ $t('LegalPage.p5') }}</p>

    <ul>
      <li>{{ $t('LegalPage.conditions.element1') }}</li>
      <li>{{ $t('LegalPage.conditions.element2') }}</li>
      <li>{{ $t('LegalPage.conditions.element3') }}</li>
      <li>{{ $t('LegalPage.conditions.element4') }}</li>
      <li>{{ $t('LegalPage.conditions.element5') }}</li>
      <li>{{ $t('LegalPage.conditions.element6') }}</li>
    </ul>

    <p>{{ $t('LegalPage.p6') }}</p>

    <h3>{{ $t('LegalPage.title5') }}</h3>

    <p>{{ $t('LegalPage.p7') }}</p>

    <p>{{ $t('LegalPage.p8') }}</p>

    <h3>{{ $t('LegalPage.title6') }}</h3>

    <p>{{ $t('LegalPage.p9') }}</p>
  </div>
</template>
<style lang="scss">
  @import '../assets/styles/variables.scss';
  .legal-page {
    --paddings: 2.7em;
    min-width: 0 !important;
    width: calc(100vw - calc(var(--paddings) * 2));
    min-height: calc(100vh - calc(var(--header-height) + 2em)) !important;
    text-align: justify;
    padding-left: var(--paddings);
    padding-right: var(--paddings);
    padding-top: 2em;
    margin-top: var(--header-height);
    font-size: 1.2em;
    @media only screen and (max-width: $mobile-max-break) {
      margin-top: calc(var(--header-height) + 1.4em) !important;
    }
  }
</style>
<script>
export default {
  name: 'LegalPage',
  data() {
    return {};
  },
  mounted() {
  },
};
</script>
