<template>
  <div class="produit-page page">
    <div class="product-container">
      <div
        class="product-container__image"
        :style="{
          'background-image': `url(${getWebUri(product.getDisplayedImage(), product)})`,
          'background-size': getImageDimensions(product.getDisplayedImage()),
        }"
      />
      <div class="product-container__description">
        <p>
          {{ product.description[$i18n.locale] }}
        </p>
      </div>
    </div>
    <div
      v-if="product.imageList.slice(1).length > 0"
      class="product-container"
    >
      <div
        v-for="image in product.imageList.filter(i => i.id != product.getDisplayedImage().id)"
        :key="image.id"
        class="product-container__image"
        :style="{
          'background-image': `url(${getWebUri(image, product)})`,
          'background-size': getImageDimensions(image),
        }"
      />
    </div>
  </div>
</template>
<style lang="scss">
@import '../assets/styles/variables.scss';
.produit-page {
  overflow-x: hidden;
  margin-top: 10em;
}
.product-container {
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  width: 100vw;
  height: calc(100vh - var(--header-height) - var(--footer-height));

  @media only screen and (max-width: $mobile-max-break) {
    flex-direction: column;
  }

  &:nth-child(2) {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__image {
    width: 60%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1.2em 2.6em;
    @media only screen and (max-width: $mobile-max-break) {
      width: 100%;
      height: 200px;
      margin: 0;
    }
  }

  &__description {
    width: 40%;
    height: 80%;
    margin: 1.2em 2.6em;
  }
}
.product-container:nth-child(2) .product-container__image {
  width: 45%;
  margin: 1.2em 2.6em;
  @media only screen and (max-width: $mobile-max-break) {
    width: 100%;
    height: 200px;
  }
}
</style>
<script>
import { dataHandling } from '../mixins/products';
import dataService from '../resources';

export default {
  name: 'ProduitPage',
  mixins: [
    dataHandling(),
  ],
  data() {
    return {
      dataService,
    };
  },
  computed: {
    product() {
      const productFilter = {
        id: this.$route.params.product_id,
      };
      return dataService.getProducts(productFilter)[0];
    },
  },
  mounted() {
  },
  methods: {
    getImageDimensions() {
      return 'contain';
    },
  },
};
</script>
