<template>
  <main id="app">
    <client-only>
      <portal-target name="menu" />
    </client-only>
    <router-view name="header" />
    <transition name="page-transition">
      <router-view />
    </transition>
    <router-view name="footer" />
  </main>
</template>

<script>
// needed to solve the problem with prerendering.
// This treats the component inside as a Client Only
// component, as if the application where in a SSR state.
// So it doesn't rehydrate the component after the first hydration
import ClientOnly from 'vue-client-only';
import './assets/styles/normalize.css';
import './assets/styles/main.scss';

export default {
  name: 'App',
  components: {
    ClientOnly,
  },
};
</script>

<style>
#app {
  width: 100%;
  height: 100%;
}
</style>
